Лабораторная работа №2
«Очистка данных и подготовка признаков для моделирования»

Импорт библиотек

In [ ]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import ( StandardScaler, MinMaxScaler, OneHotEncoder, LabelEncoder)

In [ ]:
df = pd.read_csv("Top_10000_Movies.csv", engine="python", on_bad_lines="skip")

2. Выполнить анализ категориальных признаков.

In [ ]:
categorical_features = ["original_language", "genre"]

for col in categorical_features:
    print(f"\nКатегориальный признак: {col}")
    print("Количество уникальных значений:", df[col].nunique())
    print("Топ-10 значений:")
    print(df[col].value_counts().head(10))

Категориальный признак: original_language
Количество уникальных значений: 49
Топ-10 значений:
original_language
en    7798
ja     609
es     417
fr     293
ko     140
it     104
zh     103
cn      79
de      78
ru      69
Name: count, dtype: int64

Категориальный признак: genre
Количество уникальных значений: 2314
Топ-10 значений:
genre
['Drama']                         533
['Comedy']                        440
['Horror']                        239
['Drama', 'Romance']              209
['Horror', 'Thriller']            206
['Documentary']                   201
['Comedy', 'Romance']             193
['Comedy', 'Drama']               159
[]                                133
['Comedy', 'Drama', 'Romance']    111
Name: count, dtype: int64

3. Закодировать категориальные признаки (не менее 2 методов сравнения).
Кодирование методом Label Encoding

In [ ]:
categorical_features = ["original_language", "genre"]

from sklearn.preprocessing import LabelEncoder
df_label = df.copy()

le = LabelEncoder()
for col in categorical_features:
    df_label[col] = le.fit_transform(df_label[col])

df_label[categorical_features].head()

   original_language  genre
0                 11   1994
1                 11    104
2                 11    108
3                 11    222
4                 11    853

Кодирование методом One-Hot Encoding

In [ ]:
def one_hot_encode_columns(df, columns):
    encoder = OneHotEncoder(sparse_output=False, drop='first')
    
    encoded_data = encoder.fit_transform(df[columns])
    
    encoded_df = pd.DataFrame( encoded_data, columns=encoder.get_feature_names_out(columns), index=df.index )
    
    df_encoded = df.drop(columns=columns)
    df_encoded = pd.concat([df_encoded, encoded_df], axis=1)
    
    return df_encoded, encoder

df_onehot, onehot_encoder = one_hot_encode_columns(df, categorical_features)

df_onehot.head()

,original_title,popularity,vote_average,vote_count,revenue,runtime,release_year,vote_ratio,popularity_per_min,original_language_6,...,"genre_['Western', 'History']","genre_['Western', 'Horror', 'Thriller']","genre_['Western', 'Horror']","genre_['Western', 'Mystery', 'Thriller', 'Drama']","genre_['Western', 'Romance', 'Drama']","genre_['Western', 'TV Movie']","genre_['Western', 'Thriller']",genre_['Western'],genre_[],genre_nan
0,Venom: Let There Be Carnage,5401.308,6.8,1736.0,424000000.0,97.0,2021.0,0.003915,55.115388,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Eternals,3365.535,7.1,622.0,165000000.0,157.0,2021.0,0.011396,21.300854,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Dune,2911.423,8.0,3632.0,331116356.0,155.0,2021.0,0.002202,18.662968,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Army of Thieves,2552.437,6.9,555.0,0.0,127.0,2021.0,0.012410,19.940914,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Free Guy,1850.470,7.8,3493.0,331096766.0,115.0,2021.0,0.002232,15.952328,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

4. Выполнить масштабирование числовых признаков.

In [ ]:
numerical_features = df.select_dtypes(include=["int64", "float64"]).columns.tolist()
print("Числовые признаки:", numerical_features)

df_scaled = df.copy()

scaler = StandardScaler()

df_scaled[numerical_features] = scaler.fit_transform(df_scaled[numerical_features])

df_scaled.head()

df_scaled = df.copy()

scaler = StandardScaler()
df_scaled[numerical_features] = scaler.fit_transform(df_scaled[numerical_features])

df_scaled.head()

df_minmax = df.copy()
minmax_scaler = MinMaxScaler()
df_minmax[numerical_features] = minmax_scaler.fit_transform(df_minmax[numerical_features])

df_minmax.head()

Числовые признаки: ['popularity', 'vote_average', 'vote_count', 'revenue', 'runtime', 'release_year', 'vote_ratio', 'popularity_per_min']

,original_language,original_title,popularity,vote_average,vote_count,genre,revenue,runtime,release_year,vote_ratio,popularity_per_min
0,en,Venom: Let There Be Carnage,1.000000,0.715789,0.057514,"['Science Fiction', 'Action', 'Adventure']",0.148916,0.2425,0.944444,0.000870,0.049673
1,en,Eternals,0.622658,0.747368,0.020607,"['Action', 'Adventure', 'Science Fiction', 'Fa...",0.057951,0.3925,0.944444,0.002533,0.019176
2,en,Dune,0.538486,0.842105,0.120329,"['Action', 'Adventure', 'Science Fiction']",0.116294,0.3875,0.944444,0.000489,0.016796
3,en,Army of Thieves,0.471946,0.726316,0.018387,"['Action', 'Crime', 'Thriller']",0.000000,0.3175,0.944444,0.002758,0.017949
4,en,Free Guy,0.341833,0.821053,0.115724,"['Comedy', 'Action', 'Adventure', 'Science Fic...",0.116287,0.2875,0.944444,0.000496,0.014352

5. Создать дополнительные признаки (минимум 2 новых).

In [269]:
def create_features(df):
    df = df.copy()
    
    if "vote_average" in df.columns and "vote_count" in df.columns:
        df["vote_ratio"] = df["vote_average"] / (df["vote_count"] + 1)
    
    if "popularity" in df.columns and "runtime" in df.columns:
        df["popularity_per_min"] = df["popularity"] / (df["runtime"] + 1)
    
    return df

df = create_features(df)
df[["vote_ratio", "popularity_per_min"]].head()

   vote_ratio  popularity_per_min
0    0.003915           55.115388
1    0.011396           21.300854
2    0.002202           18.662968
3    0.012410           19.940914
4    0.002232           15.952328

6. Удалить нерелевантные признаки (обосновать).

In [ ]:
irrelevant_columns = [ "Unnamed: 0", "id", "tagline", "overview", "homepage"]

df = df.drop(columns=irrelevant_columns, errors="ignore")

print("Удалены нерелевантные признаки!")

df.info()

Удалены нерелевантные признаки!
<class 'pandas.DataFrame'>
RangeIndex: 10014 entries, 0 to 10013
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   original_language   10002 non-null  str
 1   original_title      10001 non-null  str
 2   popularity          10000 non-null  float64
 3   vote_average        10000 non-null  float64
 4   vote_count          10000 non-null  float64
 5   genre               10000 non-null  str
 6   revenue             9998 non-null   float64
 7   runtime             9989 non-null   float64
 8   release_year        9962 non-null   float64
 9   vote_ratio          10000 non-null  float64
 10  popularity_per_min  9989 non-null   float64
dtypes: float64(8), str(3)
memory usage: 860.7 KB

7. Подготовить финальный датасет для модели.

In [278]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

def prepare_final_dataset_label(df):
    df = df.copy()
    
    irrelevant_columns = ["Unnamed: 0", "id", "tagline", "overview", "homepage"]
    df = df.drop(columns=irrelevant_columns, errors="ignore")
    
    if "vote_average" in df.columns and "vote_count" in df.columns:
        df["vote_ratio"] = df["vote_average"] / (df["vote_count"] + 1)
    if "popularity" in df.columns and "runtime" in df.columns:
        df["popularity_per_min"] = df["popularity"] / (df["runtime"] + 1)

    categorical_features = ["original_language", "genre"]
    label_encoders = {}
    
    for col in categorical_features:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col].astype(str))
        label_encoders[col] = le
    
    numerical_features = df.select_dtypes(include=["int64", "float64"]).columns.tolist()
    scaler = StandardScaler()
    df[numerical_features] = scaler.fit_transform(df[numerical_features])
    
    return df, label_encoders, scaler

final_df_label, label_encoders, final_scaler = prepare_final_dataset_label(df)

print("Финальный датасет с Label Encoding готов к использованию!")
print("Форма:", final_df_label.shape)
final_df_label.head()

Финальный датасет с Label Encoding готов к использованию!
Форма: (10014, 11)

,original_language,original_title,popularity,vote_average,vote_count,genre,revenue,runtime,release_year,vote_ratio,popularity_per_min
0,-0.360274,Venom: Let There Be Carnage,53.300710,0.349501,0.168247,1.287739,2.475817,-0.062314,0.91932,-0.307270,3.245652
1,-0.360274,Eternals,33.082270,0.558678,-0.277037,-1.745747,0.726789,2.023186,0.91932,-0.280947,1.202790
2,-0.360274,Dune,28.572221,1.186211,0.926109,-1.739326,1.848573,1.953669,0.91932,-0.313296,1.043426
3,-0.360274,Army of Thieves,25.006923,0.419227,-0.303818,-1.556354,-0.387456,0.980436,0.91932,-0.277381,1.120631
4,-0.360274,Free Guy,18.035282,1.046760,0.870548,-0.543587,1.848441,0.563336,0.91932,-0.313190,0.879666

In [285]:
final_df.to_csv("final_dataset_lab2.csv", index=False)
print("Финалды датасет (Label Encoding) сәтті сақталды! ")

Финалды датасет (Label Encoding) сәтті сақталды!